h1, h2, h3 {
    margin: 0;
}

body {
    background-color: gainsboro;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.navbar {
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;

    text-align: center;
    margin: 0;
}

.CentrePage {
    margin: 0 auto;
    width: 70%;
}

main.content {
    text-align: center;
    background-color: white;

    padding: 10px 0 10px 0;
}

.message {
    color: red;
}

#UserProfile {
    float: right;
    text-align: center;

    width: 30%;
    border: solid 2px black;
}

#UserProfile h2 {
    border-bottom: solid 2px black;
}

#SiteLogo {
    float: left;
    padding: 0 10px 0 10px;
    color: white;
}

#Searchbar input {
    font-size: 24px;
}

#Searchbar button {
    font-size: 24px;
}

/* Navigation */

nav ul {
    list-style: none;
    overflow: hidden;
    
    margin: 0;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

    color: white;
    text-decoration: none;
}

nav ul li a.active {
    color: antiquewhite;
}

a {
    text-decoration: wavy;
}

/* forms */

fieldset {
    text-align: left;
}

/* Tables */

table, th, td {
    border-bottom: solid 2px black;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 10px;
}